misc/RAG Agent.json
{
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kBXlpjIPzN7C76KmHTe_zi35W8xuwR53",
          "mode": "list",
          "cachedResultName": "RAG Context",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kBXlpjIPzN7C76KmHTe_zi35W8xuwR53"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5381bc1d-bebe-4e96-8f38-b95c84348665",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7v0Hx3tLBOSTxgX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "0627e9df-8de6-40e9-9b17-30a0461ec867",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7v0Hx3tLBOSTxgX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-agent",
          "mode": "list",
          "cachedResultName": "rag-agent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "1d3e24d7-8e4e-4df5-a90a-0a7b6d37cc46",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JVwZo9eKHs1nULBk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        192
      ],
      "id": "e9473a4f-e25e-402f-aaf8-cbb455a10948",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "jRLAmGJUm7livQjY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        192
      ],
      "id": "16f53222-a55f-473f-8b92-fb04e50a11aa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Cargar información a la base de datos vectorial\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 544,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -96
      ],
      "typeVersion": 1,
      "id": "aac57b89-5c6c-4421-b61c-bb58eee59ae0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Consultar la base de datos vectorial\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 800,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        -96
      ],
      "typeVersion": 1,
      "id": "505cc558-c7d5-46bd-8559-81778ef0e1f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1152,
        128
      ],
      "id": "a447ae23-985f-4d41-8c8c-9ab45d2b4946",
      "name": "When chat message received",
      "webhookId": "3f3ef168-488c-495e-8231-b8737013192b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente personal. Tu funcion es identificar que es lo que quiere buscar el usuario referente a cosméticos en Pinecone Vector Store. Responde de forma concreta, sólo referente a la información que consultas en pinecone. En tu respuesta, Siempre coloca como referencia la fuente de datos del documento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1360,
        128
      ],
      "id": "005ffd61-1d02-453e-9052-08dfe04ac465",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        336
      ],
      "id": "08b7d2dd-3212-4615-8a69-a39623012ac8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jRLAmGJUm7livQjY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        496
      ],
      "id": "bcd79c97-1010-4f34-bd5a-6cba2647f5e8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "jRLAmGJUm7livQjY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta mi biblioteca especializada",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-agent",
          "mode": "list",
          "cachedResultName": "rag-agent"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1408,
        336
      ],
      "id": "bd041761-df8a-4d70-848c-c5c71f32a286",
      "name": "Pinecone Vector Retrieval",
      "credentials": {
        "pineconeApi": {
          "id": "JVwZo9eKHs1nULBk",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Retrieval": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "738b0e87-59e2-4ffd-91c6-a5ac88e28420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55f80296b0f7195a605b2bb2628620b65fcf6342621dcb56c8c15d13e6fedd39"
  },
  "id": "F8gwklCzAxV5nLLC",
  "tags": []
}